/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=BIZ+UDPGothic:wght@400;700&family=Merriweather:wght@300;400;700;900&family=Monda:wght@400;700&family=Old+Standard+TT&family=Overpass&family=Poppins:wght@100;200;300;400;500;600;700&family=Roboto+Slab:wght@400;500;600;700&display=swap');

/* default */
* {
  box-sizing: border-box;
}
/* Common CSS */
a {
  text-decoration: none;
  color: #000;
}
body {
  margin: 0;
  background-color: #fff;
}
.chanel-container {
  width: 1440px;
  height: 100vh;
}
/*####### Section : chanel_header #######*/
.cn-header {
  width: 1440px;
  height: 125px;
  margin-top: 10px;
  position: relative;
  /* border: 1px solid #000; */
}
.chanel_logo {
  display: flex;
  justify-content: center;
  position: absolute;
  background: #fff;
  margin-top: 20px;
  transform: translateX(385%);
  width: 12%;
  /* border: 1px solid green; */
}
.cn-icon {
  /* border: 1px solid red; */
  display: flex;
  flex-wrap: wrap;
  float: right;
  margin-top: -10px;
  padding-bottom: 0;
  padding-top: 7px;
  margin-bottom: -10px;
}
.cn-icon a {
  font-size: 20px;
  margin: 20px;
}
.cn-icon .search {}
.cn-icon .user {}
.cn-icon .bag {
  margin-right: 150px;
}
.cn-toggle {
    /* border: 1px solid red; */
    width: 25px;
    height: 25px;
    margin-top: 20px;
    background-color: #fff;
    cursor: pointer;
    border: none;
    display: none;
}
.cn-toggle:focus {
  outline: none;
}
.cn-toggle span {
  height: 2px;
  width: 20px;
  background-color: #fff;
  display: block;
  margin: auto;
  position: relative;
}
.cn-toggle span::before,
.cn-toggle span::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  color: #000;
}
.cn-toggle span::before {
  transform: translateY(-6px);
}
.cn-toggle span::after {
  transform: translateY(6px);
}
/* ### Section : Nav ### */
nav {
  /* border: 1px solid green; */
  width: 1350px;
  display: inline-block;
  background-color: #fff;
  margin-top: 30px;
}
.cn-nav-btn {}
.cn-nav-btn a {
  text-decoration: none;
  font-family: 'Monde', sans-serif;
  background-color: #fff;
  border: 1px solid #fff;
  color: #000;
  margin-left: 120px;
  margin-top: 30px;
  font-size: 15px;
  /* border: 1px solid red; */
}
.cn-nav-btn a:hover {
  color: #000;
}
.cn-nav-btn a.active {
  color: #000;
}
#horizontal-underline {
  position: absolute;
  width: 0;
  background-color: #000;
  top: 0;
  left: 0;
  height: 4px;
  margin-top: 12px;
}
/* ####### Section : Modal ####### */
.modal { 
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 18.6%;
  height: 80%;
  width: 100%;
  overflow: auto;
  background-color: #fff;
}
.modal-content {
  border: 1px solid #fff;
  background-color: #fff;
  margin: 2% 7%;
  padding: 0;
  margin-top: -50px;
  width: 82%;
}
#nav-close-modal {
  color: #222;
  float: right;
  font-weight: normal;
  font-size: 40px;
  margin-left: 1150px;
  margin-top: 50px;
  /* margin-bottom: 20px; */
}
.closeBtn:hover,.closeBtn:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* ## Section : Fashion, Fine-jewelry,EYEWEAR, FRAGRANCE, MAKEUP, ABOUT ## */
.fashion-photo img,
.fine-jewelry-photo img,
.eyewear-photo img,
.fragrance-photo img,
.makeup-photo img {
  float: left;
  margin-right: 15px;
  margin-left: 25px;
}
.fashion-items,
.fine-jewelry-items,
.eyewear-items,
.fragrance-items,
.makeup-items,
.about-items {}
.fashion-item {}
.fashion-item .fashion-list .fashion-shows ul,
.fine-jewelry-item .fine-jewelry-list .fine-jewelry-featured ul,
.eyewear-item .eyewear-list .eyewear-sunglasses ul,
.fragrance-item .fragrance-list .fragrance-view ul,
.makeup-item .makeup-list .makeup-the-latest ul,
.about-item .about-list .about-inside ul {
  /* border: 1px solid green; */
  display: inline-block;
  width: 200px;
  list-style: none;
  letter-spacing: 0px;
  font-weight: bold;
  font-size: 14px;
  color: #1d1d1d;
}
.fashion-item .fashion-list .fashion-shows ul li,
.fine-jewelry-item .fine-jewelry-list .fine-jewelry-featured ul li,
.eyewear-item .eyewear-list .eyewear-sunglasses ul li,
.fragrance-item .fragrance-list .fragrance-view ul li,
.makeup-item .makeup-list .makeup-the-latest ul li,
.about-item .about-list .about-inside ul li {
  font-weight: normal;
  letter-spacing: -1px;
  color: #424242;
  font-size: 16px;
  margin-top: 20px;
}
.fashion-item .fashion-list .fashion-shows ul li a,
.fine-jewelry-item .fine-jewelry-list .fine-jewelry-featured ul li a 
.eyewear-item .eyewear-list .eyewear-sunglasses ul li a,
.fragrance-item .fragrance-list .fragrance-view ul li a,
.makeup-item .makeup-list .makeup-the-latest ul li a,
.about-item .about-list .about-inside ul li a {
  color: #424242;
}
.fashion-boutiques ul,
.cn-news ul,
.cn-library ul,
.cn-fs-services ul,
.cn-featured ul,
.cn-collections ul,
.cn-categories ul,
.cn-bridal ul,
.cn-care ul,
.cn-eyeglasses ul,
.cn-stories ul,
.cn-services ul,
.fragrance-collections ul,
.fragrance-featured ul,
.cn-women ul,
.cn-men ul,
.cn-bath-and-body ul,
.makeup-collections ul,
.makeup-face ul,
.cn-eyes ul,
.cn-lips ul,
.cn-nails ul,
.cn-brushes-and-tools ul,
.about-corporate ul,
.about-foundation ul,
.cn-careers ul,
.cn-fund ul,
.cn-prize ul,
.cn-eye-services ul,
.fragrance-collections ul,
.fragrance-featured ul,
.cn-women ul,
.cn-men ul,
.cn-bath-and-body ul,
.makeup-collections ul,
.makeup-face ul,
.cn-eyes ul,
.cn-lips ul, 
.cn-nails ul, 
.cn-brushes-and-tools ul,
.about-corporate ul,
.about-foundation ul,
.cn-careers ul,
.cn-fund ul,
.cn-prize ul {
  list-style: none;
  display: inline-block;
  width: 200px;
  list-style: none;
  letter-spacing: 0px;
  font-weight: bold;
  font-size: 14px;
  color: #1d1d1d;
}
.fashion-boutiques ul li,
.cn-news ul li,
.cn-library ul li,
.cn-fs-services ul li,
.cn-featured ul li,
.cn-collections ul li,
.cn-categories ul li,
.cn-bridal ul li,
.cn-care ul li,
.cn-eyeglasses ul li,
.cn-stories ul li,
.cn-eye-services ul li,
.fragrance-collections ul li,
.fragrance-featured ul li,
.cn-women ul li,
.cn-men ul li,
.cn-bath-and-body ul li,
.makeup-collections ul li,
.makeup-face ul li,
.cn-eyes ul li,
.cn-lips ul li, 
.cn-nails ul li, 
.cn-brushes-and-tools ul li,
.about-corporate ul li,
.about-foundation ul li,
.cn-careers ul li,
.cn-fund ul li,
.cn-prize ul li {
  font-weight: normal;
  letter-spacing: -1px;
  color: #424242;
  font-size: 16px;
  margin-top: 20px;
}
.fashion-boutiques ul li a,
.cn-news ul li a,
.cn-library ul li a,
.cn-fs-services ul li a,
.cn-featured ul li a,
.cn-collections ul li a,
.cn-categories ul li a,
.cn-bridal ul li a,
.cn-care ul li a,
.fine-jewelry-featured ul li a,
.eyewear-sunglasses ul li a,
.cn-eyeglasses ul li a,
.cn-stories ul li a,
.cn-eye-services ul li a,
.fragrance-collections ul li a,
.fragrance-featured ul li a,
.cn-women ul li a,
.cn-men ul li a,
.cn-bath-and-body ul li a,
.fragrance-view ul li a,
.makeup-collections ul li a,
.makeup-face ul li a,
.cn-eyes ul li a,
.cn-lips ul li a, 
.cn-nails ul li a, 
.cn-brushes-and-tools ul li a,
.makeup-the-latest ul li a,
.about-corporate ul li a,
.about-foundation ul li a,
.cn-careers ul li a,
.cn-fund ul li a,
.cn-prize ul li a,
.about-inside ul li a {
  color: #525252;
  font-weight: 300;
}
.fashion-item .fashion-list .fashion-shows ul li div {
  /* border: 1px solid blue; */
  font-size: 12px;
  color: #bbbbbb;
  line-height: 1.1em;
  letter-spacing: 0px;
  margin-top: 5px;
}
.fashion-boutiques {
  /* border: 1px solid green; */
  margin-top: -252px;
  margin-left: 470px;
}
.cn-news {
  /* border: 1px solid green; */
  margin-top: -502px;
  margin-right: 270px;
  float: right;
}
.cn-library {
  /* border: 1px solid green; */
  margin-top: -370px;
  margin-right: 270px;
  float: right;
}
.cn-fs-services {
  /* border: 1px solid rgb(5, 12, 5); */
  margin-top: -502px;
  margin-right: 40px;
  float: right;
}
.cn-collections {
  /* border: 1px solid green; */
  margin-top: -307px;
  margin-left: 470px;
}
.cn-categories {
  /* border: 1px solid green; */
  margin-top: -478px;
  margin-right: 260px;
  float: right;
}
.cn-bridal {
  /* border: 1px solid green; */
  margin-top: -479px;
  margin-right: 40px;
  float: right;
}
.cn-care {
  margin-top: -330px;
  margin-right: 40px;
  float: right;
}
.cn-eyeglasses {
  margin-top: -260px;
  margin-left: 470px;
}
.cn-stories {
  margin-top: -215px;
  margin-right: 270px;
  float: right;
}
.cn-eye-services {
  margin-top: -215px;
  margin-right: -420px;
  float: right;
}
.fragrance-collections {
  margin-top: 30px;
}
.fragrance-featured {
  margin-top: 30px;
  margin-left: 260px; 
}
.cn-women {
  margin-top: -523px;
  margin-left: 510px;
}
.cn-men {
  margin-top: -523px;
  margin-right: 200px;
  float: right;
}
.cn-bath-and-body {
  margin-top: -523px;
  margin-right: -430px;
  float: right;
}
.cn-makeup-collections {
  margin-top: 30px;
}
.makeup-face {
  margin-top: -597px;
  margin-left: 510px;
}
.cn-eyes {
  margin-top: -390px;
  margin-right: 220px;
  float: right;
}
.cn-lips {
  margin-top: -60px;
  margin-right: 220px;
  float: right;
}
.cn-nails {
  margin-top: -392px;
  margin-right: -410px;
  float: right;
}
.cn-brushes-and-tools {
  margin-top: -190px;
  margin-right: -410px;
  float: right;
}
.about-inside {
  margin-left: 150px;
}
.about-corporate {
  margin-top: -170px;
  margin-left: 380px;
}
.about-foundation {
  margin-top: -102px;
  margin-right: 370px;
  float: right;
}
.cn-careers {
  margin-top: 60px;
  margin-right: 370px;
  float: right;
}
.cn-fund {
  margin-top: -103px;
  margin-right: -470px;
  float: right;
}
.cn-prize {
  margin-top: 60px;
  margin-right: -470px;
  float: right;
}

/*###### Section : chanel-main ######*/
#chanel-items {
  position: relative;
}
#chanel-items img {}
#chanel-item {
  position: absolute;
}
#chanel-item h5 {
  font-size: 16px;
  font-weight: normal;

}
#chanel-item p {
  font-size: 35px;
}
#chanel-item button {
  border-color: transparent;
  background-color: #fff;
  width: 130px;
  height: 50px;
  font-size: 13px;
  margin-bottom: 80px;
  border-radius: 0px;
}

/* ####### Section : Footer ####### */
.chanel-footer {
  width: 1430px;
  height: 500px;
  background-color: #000;
  font-family: 'Monde', sans-serif;
}
.cn-footer-inner {}
.cn-footer-heading {
  /* border: 1px solid #fff; */
  padding: 25px;
}
.cn-footer-heading h1 {
  color: #fff;
  font-size: 37px;
  letter-spacing: 5px;
  text-align: center;
  padding-top: 20px;
}
.cn-footer-items {
  /* border: 1px solid #fff; */
  display: flex;
  justify-content: space-around;
}
.cn-footer-item {
  /* border: 1px solid #fff; */
  float: left;
  flex: 1;
  margin-top: 20px;
  margin-left: 20px;
  padding-top: 20px;
  padding-left: 20px; 
}
.cn-footer-item ul {
  list-style: none;
  color: #fff;
  font-size: 14px;
  letter-spacing: 1px;
}
.cn-footer-item ul h1 {
  font-size: 14px;
  margin-bottom: 20px;
}
.cn-footer-item ul li {
  /* border: 1px solid #fff; */
  margin-top: 10px;
}
.cn-footer-item ul li a {
  text-decoration: none;
  color: rgb(114, 114, 114);
}
.cn-footer-item ul li a:hover {
  color: #fff;
}

/* ######################### Featherlight Custom CSS ######################## */
.featherlight .featherlight-content {
  position: fixed;
  overflow: auto;
  top: 0;
  left: 0;
  margin-left: 0;
  margin-right: 0;
  max-height: 100%;
  background: #fff;
  width: 100vw;
  height: 100vh;
}
.featherlight .featherlight-content iframe {
  width: 100%;
  height: 100%;
}
.featherlight .featherlight-close-icon {
  font-size: 40px;
  margin-right: 50px;
  margin-top: 29px;
  outline: none;
}