/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=BIZ+UDPGothic:wght@400;700&family=Merriweather:wght@300;400;700;900&family=Monda:wght@400;700&family=Old+Standard+TT&family=Overpass&family=Poppins:wght@100;200;300;400;500;600;700&family=Roboto+Slab:wght@400;500;600;700&display=swap');

/* Common CSS */
a {
  text-decoration: none;
}

.chanel-search-inner {
  width: 1340px;
  height: 100vh;
}
input {
  border: transparent;
  border-bottom: 4px solid rgb(27, 27, 27);
  font-family: 'Monda', sans-serif;
  width: 750px;
  text-align: center;
  font-size: 38px;
  margin-top: 25px;
  padding-bottom: 4px;
  letter-spacing: 3px;
  font-weight: 700;
  position: relative;
  margin-left: 350px;
  color:rgb(156, 156, 156)
}
#cn-search {
  position: absolute;
  margin-top: 50px;
  margin-left: -18px;
  color: rgb(119, 118, 118);
  font-size: 18px;
}
.chanel-home {
  font-family: 'Monda', sans-serif;
  color: #000;
  font-weight: 500;
  float: right;
  margin-top: 40px;
  margin-right: 60px;
  font-size: 20px;
}
.chanel-search-item {
  position: absolute;
  left: 360px;
}
.chanel-search-item h4 {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  font-size: 14px;
  padding: 13px 0;
}
.chanel-search-item a {
  font-family: 'Poppins', sans-serif;
  color: #000;
  display: block;
  letter-spacing: 2px;
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 12px;
}